body {
  background-color: cadetblue;
  background-image: url("https://www.transparenttextures.com/patterns/inflicted.png");
}

header {
  height: 400px;
  margin-top: 5em;
}

header div {
  text-align: center;
}

span.nonBold {
  font-weight: 300;
}

main.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}