nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4056A1;
  height: 20%;
  width: 100%;
  z-index: 3;
  top: 0;
}

span.title {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  align-self: flex-end;
  transform: translateY(-10%);
  font-size: xx-large;
  margin-bottom: 2%;
  margin-left: 4%
}

button.instruction {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  border-color: #4056A1;
  outline: none;
  border-left: none;
  color: beige;
  font-size: medium;
  margin-left: 57%;
  margin-top: 0;
  margin-right: 4%;
}

button.instruction:hover {
  color: cadetblue;
}