nav {
  background-color: #4056A1;
  height: 120px;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

nav .title {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  margin-left: 1.5em;
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-10%);
  font-size: xx-large;
}

nav .instruction {
  font-family: 'Bungee', cursive;
  color: beige;
  margin-right: 1.5em;
  float: right;
  margin-top: 2em;
  font-size: medium;
}
